{% extends "base.html" %}

{% load static %}

{% block css %}

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <link href="{% static 'selector_landing_files/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'selector_landing_files/css/2-col-portfolio.css' %}" rel="stylesheet">

{% endblock css %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Elige la mejor Landing
                    <small>de acuerdo a tus necesidades!</small>
                </h1>
            </div>
        </div>

        {% if error_message %}

            <p><strong>{{ error_message }}</strong></p>

        {% else %}
            <p>Hello</p>
            B: {{ templates.count }}
            <div class="row">
                <div class="col-lg-12">

                    {% for one_template in templates %}
                        <div class="col-md-6 portfolio-item">
                            <a href="#">
                                <img class="img-responsive" src="one_template.previewImagePath" alt="">
                            </a>

                            <h3>
                                <a href="#">{{ one_template.templateName }}</a>
                            </h3>

                            <p>{{ one_template.templateDescription }}</p>
                        </div>

                    {% endfor %}

                </div>
            </div>

        {% endif %}

        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>

                <h3>
                    <a href="#">Normal</a>
                </h3>

                <p>Valida y haz conocer tu idea con un sencillo diseno realizado. Invierte en Adwords para realizar esta
                    tarea de forma mas sencilla.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>

                <h3>
                    <a href="#">From</a>
                </h3>

                <p>Se mas directo y muestra un form en tu inicio para obtener mas suscriptores.</p>
            </div>
        </div>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>

    {% block javascript %}

        <script src="{% static 'selector_landing_files/js/jquery.js' %}"></script>
        <script src="{% static 'selector_landing_files/js/bootstrap.min.js' %}"></script>

    {% endblock javascript %}

{% endblock %}

