{% extends "base_2.html" %}

{% load static %}

{% block css %}

    <link href='//fonts.googleapis.com/css?family=Lobster|Roboto:400,900,700' type='text/css' rel='stylesheet'>
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="{% static 'theme_pages_files/theme_page_5/css/EditorHeader.css' %}" rel="stylesheet">
    <link href="{% static 'theme_pages_files/theme_page_5/css/EditorHeader.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'theme_pages_files/theme_page_5/css/css' %}">
    <link rel="stylesheet" href="{% static 'theme_pages_files/theme_page_5/css/reset.css' %}">

    <link href="{% static 'theme_pages_files/theme_page_5/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'global_files/css/sb-admin.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard_files/font-awesome/css/font-awesome.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'dashboard_files/font-awesome/css/jquery.fancybox.css' %}" type="text/css" rel="stylesheet"/>

    <style>
        label:hover {
            background: #f2f5ff;
            border-radius: 5px;
            padding: 2px 4px;
        }

    </style>

{% endblock css %}

<link id="page_favicon" href="http://cloud.landerapp.com/Content/Images/favicon.ico?v=20140725124313" rel="icon"
      type="image/x-icon">

<script async="true" type="text/javascript"
        src="{% static 'theme_pages_files/theme_page_5/img/BOGC7CSF3ZBZND725TWNQU.png' %}"></script>


<!-- No creo que sirva
<div style="width: 1px; height: 1px; display: inline;"><img height="1" width="1" style="border-style:none;" alt="" src="./landingprueba1_files/out">

<img height="1" width="1" style="border-style:none;" alt="" src="./landingprueba1_files/out(1)">
<img height="1" width="1" style="border-style:none;" alt="" src="./landingprueba1_files/out(2)">
<img height="1" width="1" style="border-style:none;" alt="" src="./landingprueba1_files/out(3)">
<img height="1" width="1" style="border-style:none;" alt="" src="./landingprueba1_files/out(4)">
<img height="1" width="1" style="border-style:none;" alt="" src="./landingprueba1_files/out(5)">
<img height="1" width="1" alt="" style="display:none" src="./landingprueba1_files/tr"><img height="1" width="1" style="border-style:none;" alt="" src="./landingprueba1_files/saved_resource">
<img height="1" width="1" style="border-style:none;" alt="" src="./landingprueba1_files/out(6)">
<img src="./landingprueba1_files/seg" width="1" height="1">
<img height="1" width="1" alt="" style="display:none" src="./landingprueba1_files/tr(1)"><img height="1" width="1" style="border-style:none;" alt="" src="./landingprueba1_files/saved_resource(1)">
<img height="1" width="1" style="border-style:none;" alt="" src="./landingprueba1_files/out(6)">
<img src="./landingprueba1_files/seg(1)" width="1" height="1">
</div>

-->
{% block content %}


    <body id="inner_body" class="inner_body" gram_dict="true" hola-ext-player="1">

    <div class="framed-preview">


        <div id="content" class="content">
            <div id="_a90b1747-b20a-5737-d36c-921c17458e21" class="_a90b1747-b20a-5737-d36c-921c17458e21">
                <p align="center"><span
                        style="font-size: 50px; line-height: 1.05; font-family: Bitter, serif; color: #ffffff; font-weight: bold; letter-spacing: -1px;">Try the Best App on the Market</span>
                </p>
            </div>
            <div id="_b7bd450e-70c8-9bfa-2731-54adb7c91d78" class="_b7bd450e-70c8-9bfa-2731-54adb7c91d78">

            </div>
            <div id="_3ee087b9-d0b9-06a5-6fe0-daaaf48b120a" class="_3ee087b9-d0b9-06a5-6fe0-daaaf48b120a">
                <p align="center"><span
                        style="font-family: arial,serif; line-height: 1.4; color: #333333;"><strong><span
                        style="font-family: Bitter, serif; font-size: 28px; letter-spacing: -1px;">Our Amazing App.</span></strong> <strong><span
                        style="font-family: Bitter, serif; font-size: 28px; color: #7b9d08; letter-spacing: -1px; line-height: 1.4;">What is it about?</span></strong></span>
                </p>
            </div>
            <div id="_0acf220e-a8a0-f1d0-53c4-8df04eb38844" class="_0acf220e-a8a0-f1d0-53c4-8df04eb38844">
                <p><span
                        style="font-family: Bitter, serif; font-size: 22px; color: #333333; line-height: 1.1; letter-spacing: -1px;">Amazing feature #2</span>
                </p>
            </div>
            <div id="_649e64a5-20f9-620a-f0b2-6fe08d2b4532" class="_649e64a5-20f9-620a-f0b2-6fe08d2b4532">
                <p><span
                        style="font-family: Bitter, serif; font-size: 22px; color: #333333; line-height: 1.1; letter-spacing: -1px;">Amazing feature #3</span>
                </p>
            </div>
            <div id="_f5dc1e68-015b-a545-1ed6-cc1c8d13e35c" class="_f5dc1e68-015b-a545-1ed6-cc1c8d13e35c">
                <p><span style="font-family: Bitter, serif; font-size: 13px; color: #666666; line-height: 1.4;">Duis id egestas lectus lacus eros, venenatis eu dignissim sed imperdiet et orci elit duis gravida varius ipsum, sed lobortis quam.<br><br> Duis id egestas lectus lacus eros, venenatis eu dignissim sed imperdiet et orci elit.</span>
                </p>

                <p><strong><span style="font-family: Bitter, serif; font-size: 13px; color: #666666;"><br>Duis id egestas lectus lacus eros, venenatis eu dignissim sed imperdiet.</span></strong>
                </p>
            </div>
            <div id="_9cd97e7b-0d5c-3a39-e87e-7dab592eab2e" class="_9cd97e7b-0d5c-3a39-e87e-7dab592eab2e">

            </div>
            <div id="_3b7d54cb-7a39-31f5-0917-400bba7bfe3e" class="_3b7d54cb-7a39-31f5-0917-400bba7bfe3e">

            </div>
            <div id="_2224ddd9-9fc5-0286-98e2-463261932637" class="_2224ddd9-9fc5-0286-98e2-463261932637">
                <p><span style="font-family: Bitter, serif; font-size: 13px; color: #666666; line-height: 1.4;">Duis id egestas lectus lacus eros, venenatis eu dignissim sed imperdiet et orci elit duis gravida varius ipsum, sed lobortis quam.<br><br> Duis id egestas lectus lacus eros, venenatis eu dignissim sed imperdiet et orci elit.</span>
                </p>

                <p><strong><span style="font-family: Bitter, serif; font-size: 13px; color: #666666;"><br>Duis id egestas lectus lacus eros, venenatis eu dignissim sed imperdiet.</span></strong>
                </p>
            </div>
            <div id="_c6ae3a17-41e6-9885-1c16-00e4d5ed1be5" class="_c6ae3a17-41e6-9885-1c16-00e4d5ed1be5">
                <p><span style="font-family: Bitter, serif; font-size: 13px; color: #666666; line-height: 1.4;">Duis id egestas lectus lacus eros, venenatis eu dignissim sed imperdiet et orci elit duis gravida varius ipsum, sed lobortis quam.<br><br> Duis id egestas lectus lacus eros, venenatis eu dignissim sed imperdiet et orci elit.</span>
                </p>

                <p><strong><span style="font-family: Bitter, serif; font-size: 13px; color: #666666;"><br>Duis id egestas lectus lacus eros, venenatis eu dignissim sed imperdiet.</span></strong>
                </p>
            </div>
            <div id="_4ac948ae-1205-5d02-25b9-0195e521271b" class="_4ac948ae-1205-5d02-25b9-0195e521271b">
                <p><span
                        style="font-family: Bitter, serif; font-size: 22px; color: #333333; line-height: 1.1; letter-spacing: -1px;">Amazing feature #1</span>
                </p>
            </div>
            <div id="_bb8c1e9f-1166-0de2-430a-ccfba0fb6d47">
                <img src="{% static 'theme_pages_files/theme_page_5/img/image_797a3cae-dadb-4b98-846b-9246466b26d5_.png' %}"
                     height="54" width="223"
                     alt="">


            </div>
            <div id="_45a50c0c-4585-ebe8-fc74-7f9b2dc52465" class="_45a50c0c-4585-ebe8-fc74-7f9b2dc52465">
                <p align="center"><span
                        style="font-family: Bitter,serif; font-size: 15px; line-height: 1.4; color: #ffffff;">Duis id egestas lectus lacus eros, venenatis eu dignissim sed imperdiet et orci elit duis gravida varius ipsum, sed lobortis quam. </span>
                </p>

                <p align="center"><span
                        style="font-family: Bitter,serif; font-size: 15px; line-height: 1.4; color: #ffffff;">Duis id egestas lectus lacus eros, venenatis eu dignissim sed imperdiet et orci elit.</span>
                </p>
            </div>
            <div id="_bdf7cbcd-0bbe-2e78-ecec-d3ed662e68db" class="_bdf7cbcd-0bbe-2e78-ecec-d3ed662e68db">

            </div>
            <div id="_d84c36b4-bed6-2cad-5977-a1b570ef2a83">

                <iframe style="z-index:0;width:100%;height:100%" src="{% static 'theme_pages_files/theme_page_5/67212164.html'%}"
                        frameborder="0"></iframe>
            </div>
            <div id="_eb4020f8-75ba-483a-e9bd-af266132022e" class="_eb4020f8-75ba-483a-e9bd-af266132022e">
                <p><span
                        style="font-size: 13px; color: #999999;">2013. www.yourcompany.com. &nbsp;All rights reserved.</span>
                </p>
            </div>
            <div id="_90cf2bf8-b15e-55f9-8823-41a02395bd10">
                <img src="{% static 'theme_pages_files/theme_page_5/img/image_02cbdb9a-6ab8-4748-b58f-03b4cff82b35_.png' %}"
                     height="559" width="940"
                     alt="">


            </div>
            <div id="_1d733594-aedb-9317-a9c8-e70b550f1cbc">
                <img src="{% static 'theme_pages_files/theme_page_5/img/image_3ec92dfd-39a9-4ce7-845f-aea0ba33c2f1_.png' %}"
                     height="445" width="715"
                     alt="">


            </div>
            <div id="_5f54ca1c-b95f-6660-643c-33e95a8feb58" class="_5f54ca1c-b95f-6660-643c-33e95a8feb58">

            </div>
            <div id="_71831edb-b77f-1332-92d3-0bb4e38a8b05">
                <a href="http://twitter.com/" target="_blank"><img
                        src="{% static 'theme_pages_files/theme_page_5/img/twitter.png' %}" width="16"
                        height="16" alt="twitter"></a><a
                    href="http://www.facebook.com/" target="_blank"><img
                    src="{% static 'theme_pages_files/theme_page_5/img/facebook.png' %}"
                    width="16" height="16" alt="facebook"></a><a
                    href="http://www.linkedin.com/" target="_blank"><img
                    src="{% static 'theme_pages_files/theme_page_5/img/linkedin.png' %}"
                    width="16" height="16" alt="linkedin"></a>

            </div>

            <div id="_d3375c13-5ece-58f9-22de-bd3ecf9f510a">
                <a target="_self">
                    <span>Try it for Free</span>
                </a>
            </div>
            <div id="_3ea75362-6210-812a-7fd1-a89b0676a947">
                <a target="_self"
                   href="http://cloud.landerapp.com/LandingPages/Editor/Preview?landingPageId=99463&variantId=213834#">
                    <span>Request a Demo</span>
                </a>
            </div>
            <div id="_cff3510d-2739-454a-26e8-058b10ec3e60" class="_cff3510d-2739-454a-26e8-058b10ec3e60">

            </div>
            <div id="_d2a8ccfe-6374-fdfa-943c-06cbb009f005" class="_d2a8ccfe-6374-fdfa-943c-06cbb009f005">
                <p align="center"><strong><span style="font-family: Bitter,serif; font-size: 28px; color: #333333;">Testimonials</span></strong>
                </p>
            </div>
            <div id="_ea3c7502-20c9-75a6-3180-74273685f957">
                <img src="{% static 'theme_pages_files/theme_page_5/img/image_54d84c92-25af-4562-9deb-aca6526f4f12_.png' %} "
                     height="239" width="240"
                     alt="">


            </div>
            <div id="_6cac0f87-5f9c-fb0f-a457-f6724f818088" class="_6cac0f87-5f9c-fb0f-a457-f6724f818088">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 24px; color: #666666; letter-spacing: -1px; line-height: 1.4;">“Duis id egestas lectus lacus eros, venenatis eu dignissim sed imperdiet et orci elit duis gravida varius ipsum, sed lobortis quam. Duis id egestas lectus”</span>
                </p>
            </div>
            <div id="_3db5b521-956c-c782-fe15-cc4d74e29761" class="_3db5b521-956c-c782-fe15-cc4d74e29761">
                <p align="center"><span style="font-family: arial,serif; font-size: small; color: #7a9d07;"><span
                        style="font-family: Bitter, serif; font-size: 13px;">Nick Rivers,</span> <span
                        style="font-family: Bitter, serif; font-size: 13px; color: #666666;">C.E.O - Company Name</span></span>
                </p>
            </div>
            <div id="_2e9243fa-f690-329a-036b-425d7ba90fa0" class="_2e9243fa-f690-329a-036b-425d7ba90fa0">

            </div>
            <div id="_b7893ba5-00f1-9080-9d15-066f4756c714" class="_b7893ba5-00f1-9080-9d15-066f4756c714">

            </div>
            <div id="_51c376bb-9ecf-ef29-3448-b0bd14e35dda" class="_51c376bb-9ecf-ef29-3448-b0bd14e35dda">

            </div>
            <div id="_9d5ba169-0bb1-a667-c810-533deffde250" class="_9d5ba169-0bb1-a667-c810-533deffde250">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 15px; color: #666666; line-height: 1.4;">Duis id egestas lectus lacus eros, venenatis eu dignissim sed imperdiet et orci elit duis gravida varius ipsum, sed lobortis quam. Duis id egestas lectus lacus eros, venenatis eu dignissim sed imperdiet et orci elit.</span>
                </p>
            </div>
            <div id="_46e378a6-70f9-ad26-3623-7a634a642d69" class="_46e378a6-70f9-ad26-3623-7a634a642d69">
                <p align="center"><strong><span
                        style="font-family: Bitter,serif; font-size: 28px; color: #333333; letter-spacing: -1px; line-height: 1.4;">Not sure yet?</span></strong>
                </p>
            </div>
            <div id="_b5588f3b-fbb2-eedc-dc2d-46f79db32379" class="_b5588f3b-fbb2-eedc-dc2d-46f79db32379">

            </div>
            <div id="_e7aa9f72-3a0a-0845-d86b-72f29c60aa48" class="_e7aa9f72-3a0a-0845-d86b-72f29c60aa48">

            </div>
            <div id="_a790de6b-506d-ee07-30b4-de4a377c1935" class="_a790de6b-506d-ee07-30b4-de4a377c1935">

            </div>
            <div id="_537376d1-8c13-0b2c-730a-1fe9479ab218" class="_537376d1-8c13-0b2c-730a-1fe9479ab218">
                <p align="center"><strong><span
                        style="font-family: Bitter,serif; font-size: 32px;">Pricing List</span></strong></p>
            </div>
            <div id="_ebb8b155-7a43-9276-e0fb-a458a7cb7139" class="_ebb8b155-7a43-9276-e0fb-a458a7cb7139">

            </div>
            <div id="_22f5110e-3e5c-4d4f-9a44-eb8085e8a10c" class="_22f5110e-3e5c-4d4f-9a44-eb8085e8a10c">

            </div>
            <div id="_814aa4ba-80d7-91a6-e402-3dd9ba1d5cf4" class="_814aa4ba-80d7-91a6-e402-3dd9ba1d5cf4">

            </div>
            <div id="_4304838a-7a71-356c-5412-e37089360470">
                <a target="_self">
                    <span>Buy now</span>
                </a>
            </div>
            <div id="_be95d4ef-a868-098d-c4b2-e0bc33511582" class="_be95d4ef-a868-098d-c4b2-e0bc33511582">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 24px; color: #333333; letter-spacing: -1px; line-height: 1.4;">BASIC PLAN</span>
                </p>
            </div>
            <div id="_21ac6393-96a7-0839-2e9e-90042ed79a79" class="_21ac6393-96a7-0839-2e9e-90042ed79a79">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 15px;">BASIC PLAN FEATURE # 01</span>
                </p>
            </div>
            <div id="_c8687d5a-de3b-0c55-a70a-f3a1c4fbffc0" class="_c8687d5a-de3b-0c55-a70a-f3a1c4fbffc0">

            </div>
            <div id="_4b91a693-77c6-bd8f-c45d-d0f42b84d65d" class="_4b91a693-77c6-bd8f-c45d-d0f42b84d65d">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 15px;">BASIC PLAN FEATURE # 02</span>
                </p>
            </div>
            <div id="_e4bd7891-68d1-b9ac-75de-7c7117501c59" class="_e4bd7891-68d1-b9ac-75de-7c7117501c59">

            </div>
            <div id="_71c7cdea-0402-16a4-c9e1-2b90a9dc4bea" class="_71c7cdea-0402-16a4-c9e1-2b90a9dc4bea">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 15px;">BASIC PLAN FEATURE # 03</span>
                </p>
            </div>
            <div id="_8ddbbd0b-55bb-53be-fd85-ccd5cb565308" class="_8ddbbd0b-55bb-53be-fd85-ccd5cb565308">

            </div>
            <div id="_dedf5723-3a80-eca8-a5d0-c8e339de4c11" class="_dedf5723-3a80-eca8-a5d0-c8e339de4c11">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 15px;">BASIC PLAN FEATURE # 04</span>
                </p>
            </div>
            <div id="_e9fe9ad3-2be8-4ff2-827d-8ef7f7c25216" class="_e9fe9ad3-2be8-4ff2-827d-8ef7f7c25216">

            </div>
            <div id="_9567c681-eaa0-64bf-031a-496a8cf71400" class="_9567c681-eaa0-64bf-031a-496a8cf71400">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 15px;">BASIC PLAN FEATURE # 05</span>
                </p>
            </div>
            <div id="_ac040925-b472-6de8-4e9e-44fb2af83b3b" class="_ac040925-b472-6de8-4e9e-44fb2af83b3b">

            </div>
            <div id="_1875313e-e151-95aa-52df-f9de60b20d4b" class="_1875313e-e151-95aa-52df-f9de60b20d4b">

            </div>
            <div id="_8eaee3bc-2391-a910-afc1-bc6ed4669898" class="_8eaee3bc-2391-a910-afc1-bc6ed4669898">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 50px; color: #333333; letter-spacing: -1px; line-height: 1.4;">$ 14.99</span>
                </p>
            </div>
            <div id="_7b50983f-b96c-c2db-e1fe-fad225fadbfc" class="_7b50983f-b96c-c2db-e1fe-fad225fadbfc">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 24px; color: #333333; letter-spacing: -1px; line-height: 1.4;">Monthly</span>
                </p>
            </div>
            <div id="_f4137b56-5242-4991-d05f-dd3921e16f45" class="_f4137b56-5242-4991-d05f-dd3921e16f45">

            </div>
            <div id="_4198e3e8-40e9-8463-b3b2-f5acad84fbd5">
                <a target="_self">
                    <span>Buy now</span>
                </a>
            </div>
            <div id="_c6ddb433-181a-42b7-ab5f-b6eb43d95a51" class="_c6ddb433-181a-42b7-ab5f-b6eb43d95a51">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 24px; color: #333333; letter-spacing: -1px; line-height: 1.4;">STANDARD PLAN</span>
                </p>
            </div>
            <div id="_0ecac3ad-0a72-b7eb-ad84-5bd9a539df85" class="_0ecac3ad-0a72-b7eb-ad84-5bd9a539df85">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 15px;">STANDARD PLAN FEATURE # 01</span></p>
            </div>
            <div id="_623f9ef5-cf67-3a22-a30c-1d009bb54f9c" class="_623f9ef5-cf67-3a22-a30c-1d009bb54f9c">

            </div>
            <div id="_bb28e606-a5dd-d836-7e92-048aa4ab2f61" class="_bb28e606-a5dd-d836-7e92-048aa4ab2f61">

            </div>
            <div id="_73a42e97-72ee-f01c-6c38-5ccf068b80f3" class="_73a42e97-72ee-f01c-6c38-5ccf068b80f3">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 15px;">STANDARD PLAN FEATURE # 03</span></p>
            </div>
            <div id="_eb472e8d-f45e-2077-bc15-d58a91e4c206" class="_eb472e8d-f45e-2077-bc15-d58a91e4c206">

            </div>
            <div id="_09ff34b9-3a0d-c0a7-ffdc-12da76dfba99" class="_09ff34b9-3a0d-c0a7-ffdc-12da76dfba99">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 15px;">STANDARD PLAN FEATURE # 04</span></p>
            </div>
            <div id="_11146a23-106c-f14b-37a0-e0c5c3ee64a1" class="_11146a23-106c-f14b-37a0-e0c5c3ee64a1">

            </div>
            <div id="_721d407d-fa2f-a9e1-1ff1-eb26da76a90f" class="_721d407d-fa2f-a9e1-1ff1-eb26da76a90f">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 15px;">STANDARD PLAN FEATURE # 05</span></p>
            </div>
            <div id="_92760056-17c0-2dff-1b68-a6a43fcedcec" class="_92760056-17c0-2dff-1b68-a6a43fcedcec">

            </div>
            <div id="_e2c8c0c9-f12a-58fc-da71-e5e0f27dc516" class="_e2c8c0c9-f12a-58fc-da71-e5e0f27dc516">

            </div>
            <div id="_64709eb6-aa36-a7cd-c5e9-d58a4d3f95ba" class="_64709eb6-aa36-a7cd-c5e9-d58a4d3f95ba">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 50px; color: #333333; letter-spacing: -1px; line-height: 1.4;">$ 29.99</span>
                </p>
            </div>
            <div id="_d4aa99b4-c0cf-acc5-a00c-3da84b266985" class="_d4aa99b4-c0cf-acc5-a00c-3da84b266985">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 24px; color: #333333; letter-spacing: -1px; line-height: 1.4;">Monthly</span>
                </p>
            </div>
            <div id="_737ab613-e894-b6dd-d8ae-f8c9cd21e8f6" class="_737ab613-e894-b6dd-d8ae-f8c9cd21e8f6">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 15px;">STANDARD PLAN FEATURE # 02</span></p>
            </div>
            <div id="_95febcc1-1559-c4d3-be4f-d3d460b6fc83" class="_95febcc1-1559-c4d3-be4f-d3d460b6fc83">

            </div>
            <div id="_3d174906-978e-d469-8822-1d83f7283041">
                <a target="_self">
                    <span>Buy now</span>
                </a>
            </div>
            <div id="_27d274e5-8d33-57c4-d233-4caa68be19db" class="_27d274e5-8d33-57c4-d233-4caa68be19db">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 24px; color: #ffffff; letter-spacing: -1px; line-height: 1.4;">CORPORATE PLAN</span>
                </p>
            </div>
            <div id="_f950da9b-fe07-fc28-f475-c38005d3f6a5" class="_f950da9b-fe07-fc28-f475-c38005d3f6a5">
                <p align="center"><span style="font-family: Bitter, serif; font-size: 15px; color: #ffffff;">CORPORATE PLAN FEATURE # 01</span>
                </p>
            </div>
            <div id="_9ec7eca9-0927-318c-3189-66a827c73c57" class="_9ec7eca9-0927-318c-3189-66a827c73c57">

            </div>
            <div id="_7f87de3e-d138-3a57-0b3c-c0794312e093" class="_7f87de3e-d138-3a57-0b3c-c0794312e093">
                <p align="center"><span style="font-family: Bitter, serif; font-size: 15px; color: #ffffff;">CORPORATE PLAN FEATURE # 02</span>
                </p>
            </div>
            <div id="_9cfcd7d3-3acf-4d03-687a-47e2dfc94f72" class="_9cfcd7d3-3acf-4d03-687a-47e2dfc94f72">

            </div>
            <div id="_e786153c-4fb1-a3ee-bb95-2c317e33696c" class="_e786153c-4fb1-a3ee-bb95-2c317e33696c">
                <p align="center"><span style="font-family: Bitter, serif; font-size: 15px; color: #ffffff;">CORPORATE PLAN FEATURE # 03</span>
                </p>
            </div>
            <div id="_2cea26a4-685f-7a3e-9c4f-129159adcc92" class="_2cea26a4-685f-7a3e-9c4f-129159adcc92">

            </div>
            <div id="_cc92cc28-6f48-d3d5-1523-6392a4ff38c8" class="_cc92cc28-6f48-d3d5-1523-6392a4ff38c8">
                <p align="center"><span style="font-family: Bitter, serif; font-size: 15px; color: #ffffff;">CORPORATE PLAN FEATURE # 04 </span>
                </p>
            </div>
            <div id="_78035071-a170-8a7d-9bd8-423e72a882e6" class="_78035071-a170-8a7d-9bd8-423e72a882e6">

            </div>
            <div id="_698a3f7a-3c5d-50de-e344-9ce068439712" class="_698a3f7a-3c5d-50de-e344-9ce068439712">
                <p align="center"><span style="font-family: Bitter, serif; font-size: 15px; color: #ffffff;">CORPORATE PLAN FEATURE # 05</span>
                </p>
            </div>
            <div id="_0dbbc79b-41f5-8f45-4c19-c46f9e20ce74" class="_0dbbc79b-41f5-8f45-4c19-c46f9e20ce74">

            </div>
            <div id="_d18ecc1b-0647-38f8-3c08-e33a5c0963f2" class="_d18ecc1b-0647-38f8-3c08-e33a5c0963f2">

            </div>
            <div id="_7e3f136b-e45e-a981-fc43-5244ea6a5991" class="_7e3f136b-e45e-a981-fc43-5244ea6a5991">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 50px; color: #ffffff; letter-spacing: -1px; line-height: 1.4;">$ 49.99</span>
                </p>
            </div>
            <div id="_f489ebe6-da33-b381-8de6-7be9d940f6e4" class="_f489ebe6-da33-b381-8de6-7be9d940f6e4">
                <p align="center"><span
                        style="font-family: Bitter, serif; font-size: 24px; color: #ffffff; letter-spacing: -1px; line-height: 1.4;">Monthly</span>
                </p>
            </div>
        </div>
        <!--<style type="text/css">#removeBranding div{text-align: center;max-width: 600px;margin: 20px auto;}
    .submit-button{text-shadow: 0 -1px 0px #1F658F;letter-spacing:0.2px;padding:5px 30px 5px 30px;background-color:#3392CC;border:5px solid #DFEFF8;-webkit-border-radius:25px;-moz-border-radius:25px;border-radius:25px;font-weight:bold;color:#fff;cursor:pointer;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
    #brandfooterbottom { cursor: pointer;}
    .submit-button:hover{background-color:#001F31;}
    .remove-branding-button{text-decoration:none;font-size:14px;outline:none;}
    .button-black{background-color:#363636;text-shadow: none;letter-spacing: 0;}
    .button-black:hover{background-color:#DFEFF8;color:#363636;text-shadow: none;}
    .remove-branding-footer{margin-right: 10px;font-size: 14px;text-decoration: none;margin-top: 8px;float:right;text-shadow:none;}
    .hr-separator-default{width:100%;background: #D4EAF6;height: 1px;}
    .grey-text-default{color: #193345;opacity: 0.5;filter: alpha(opacity=0.5);font-size: 13px;}
    .black-title-default{display: inline-block;font-size: 25px;color: #001F31;font-weight: bold;}
    .branding-footer-fixed{position:fixed;bottom:0;width:100%;}
    .branding-img{margin-top:16px;position:relative;}
    #brandfootertop .img-container{position:relative;width:56%;float:left;text-align:right;}
    #brandfootertop .button-container{position:relative;width:44%;float:right;text-align:right;}</style>-->

        <footer class="branding-footer">
            <div></div>
            <div id="brandfooter"
                 style="margin:0; padding:0; border: 0; font-family:Arial, Helvetica, sans-serif; font-weight:normal; margin:auto; width:100%;">
                <div id="brandfootertop"
                     style="width:100%; margin:auto;min-width:720px;height:50px; background:url(http://landerstorage.blob.core.windows.net/lander-images/brandfooter-sprite.png) repeat-x 0px 0px;">
                    <div class="img-container"><img
                            src="{% static 'theme_pages_files/theme_page_5/img/brandfooter-text.png' %}" width="170"
                            height="21" alt="We love landing pages" class="branding-img">
                        <a style="display:inline-block; background:url(http://landerstorage.blob.core.windows.net/lander-images/brandfooter-sprite.png) no-repeat 0px -53px; width:8px; height:4px;margin-top:50px;right:12%;position:absolute;"></a>
                    </div>
                    <div class="button-container"><a id="buttonRemoveBranding"
                                                     class="submit-button button-black remove-branding-footer"
                                                     href="http://cloud.landerapp.com/LandingPages/Editor/Preview?landingPageId=99463&variantId=213834#removeBranding">Remove
                        branding</a></div>
                </div>

                <a id="brandfooterbottom"
                   href="http://www.landerapp.com/?utm_source=MyLanderPages&utm_medium=BrandedFooter&utm_campaign=BrandedFooter"
                   style="width:100%; margin:auto; height:40px; background-color: #FFFFFF; color:#3392CC; text-align:center; line-height:40px; font-size:15px; display:inline-block; text-decoration:none;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;"
                   onmouseover="style.backgroundColor=&#39;#001F31&#39;; style.color=&#39;#FFFFFF&#39;"
                   onmouseout="style.backgroundColor=&#39;#FFFFFF&#39;; style.color=&#39;#3392CC&#39;">
                    <span style="font-weight:bold;">Try Lander</span>, a landing page platform.
                </a>
            </div>
        </footer>

        <div style="display:none;">
            <div id="removeBranding">
                <div>
                    <h1 class="black-title-default">How to remove Lander's branding from my page?</h1>
                </div>
                <div>
                    <p class="grey-text-default">Lander's footer is only displayed during your Free Trial. Upgrade to
                        any
                        paid plan and it will be automatically removed from all of your landing pages.</p>
                </div>
                <hr class="hr-separator-default">
                <div>
                    <button class="submit-button remove-branding-button">Ok, I got it</button>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            function positionateBranding() {
                if (window.innerHeight > document.body.clientHeight)
                    $(".branding-footer").addClass("branding-footer-fixed");
                else
                    $(".branding-footer").removeClass("branding-footer-fixed");
            }

            $(function () {
                positionateBranding();
                $(window).resize(positionateBranding);

                $("#buttonRemoveBranding").fancybox({
                    'scrolling': "auto"
                });
                $(".remove-branding-button").click(function () {
                    $.fancybox.close();
                });
            });

        </script>


    </div>
    <script type="text/javascript">
        adroll_adv_id = "D6EZYEX3ZBEENL4JLN643A";
        adroll_pix_id = "BOGC7CSF3ZBZND725TWNQU";
        (function () {
            var oldonload = window.onload;
            window.onload = function () {
                __adroll_loaded = true;
                var scr = document.createElement("script");
                var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
                scr.setAttribute('async', 'true');
                scr.type = "text/javascript";
                scr.src = host + "/j/roundtrip.js";
                ((document.getElementsByTagName('head') || [null])[0] || document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
                if (oldonload) {
                    oldonload()
                }
            };
        }());
    </script>

    <script type="text/javascript">(function () {
        return window.SIG_EXT = {};
    })()</script>
    <script type="text/javascript" src="./landingprueba1_files/cache.php"></script>
<span id="buffer-extension-hover-button"
      style="display: none;position: absolute;z-index: 8675309;width: 100px;height: 25px;background-image: url(chrome-extension://noojglkidnpfjbincgijbaiedldjfbhh/data/shared/img/buffer-hover-icon@2x.png);background-size: 100px 25px;opacity: 0.9;cursor: pointer;"></span>
    </body>
    <div class="gr-context gr-dict gr-context-loader gr-dict-freemium" style="display: none;"><span
            class="gr-triangle"></span>

        <div class="gr-placeholder"></div>
        <a href="http://www.grammarly.com/?utm_source=dict&utm_medium=link&utm_campaign=chrome_plg" target="_blank"
           class="gr-hint-settings"></a><strong class="gr-title"></strong>

        <div class="gr-dict-content"></div>
    </div>
    <div class="b-freemium-editor" style="display: none;">
        <div class="b-freemium-editor-back"></div>
        <iframe class="gr-freemium-ifr"></iframe>
    </div></html>

    {% block javascript %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.12/jquery.mousewheel.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.5.1/jquery.nicescroll.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="{% static 'theme_pages_files/theme_page_5/js/scripts-landings-min.js' %}"></script>
        <script src="{% static 'theme_pages_file/theme_page_5/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'theme_pages_file/theme_page_5/Lander.LinkTracking.js' %}"
                type="text/javascript"></script>

        <script async="true" type="text/javascript"
                src="{% static 'theme_pages_files/theme_page_5/roundtrip.js' %}"></script>
        <script type="text/javascript"
                src="{% static 'theme_pages_files/theme_page_5/jquery.fancybox.pack.js' %}"></script>


        <script src="{% static 'landing_designer_old_files/files/jquery.js' %}" type="text/javascript"></script>
        <script src="{% static 'landing_designer_old_files/files/jQuery.Plugins.js' %}" type="text/javascript"></script>
        <script src="{% static 'landing_designer_old_files/files/jquery-ui.js' %}" type="text/javascript"></script>


        <script type="text/javascript">

            var defaultText = 'Texto por defecto';
            var arrayDefaultTexts = ["Pitch de la Startups... ¿Qué le dirías a Bill Gates si te lo encontraras en un \nasensor? \nSólo tienes 30 segundos. Es re común encontrarme a Bill en el asensor del departamento, acabo de \nsubir con él."];


            function endEdit(e) {
                var input = $(e.target),
                        label = input && input.prev();

                var name = parseInt(label.name);
                label.text(input.val() === '' ? arrayDefaultTexts[name] : input.val());
                input.hide();
                label.show();
            }

            $('.clickedit').hide()
                    .focusout(endEdit)
                    .keyup(function (e) {
                        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                            endEdit(e);
                            return false;
                        } else {
                            return true;
                        }
                    })
                    .prev().click(function () {
                        $(this).hide();
                        $(this).next().show().focus();
                    });

        </script>

    {% endblock javascript %}


{% endblock %}
